* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-main: 'Roboto', sans-serif;

    --bg-color-card: #FFFFFF;
    --bg-color-body: linear-gradient(#8cd7c0 70%, #FFFFFF);
    
    --color-water-progress: #19daec;
    --color-exercise-progress: #17dca1;
    --color-meditation-progress: rgb(235, 165, 44);
}

body {
    background: var(--bg-color-body);
    font-family: var(--ff-main);
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline #45d9ad;

    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

.cycles {
    display: grid;
    place-content: center;
}

.cycles-card {
    display: grid;
    gap: 2rem;
    justify-items: center;

    background: var(--bg-color-card);
    border-radius: 1.5rem;
    margin-top: 5rem;
    padding: 1.5rem;
    width: clamp(24rem, 26rem + 5vw, 40rem);
    
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.water-cycle, .exercise-cycle, .meditation-cycle {
    height: 9rem;
    width: 9rem;
    border: 1.2rem solid;
    border-color: white;
    border-radius: 6rem;

    position: relative;

    transform: rotate(45deg);
}

.water-cycle {
    border-color: var(--color-water-progress) var(--color-water-progress) var(--color-water-progress) var(--color-water-progress);
}

.exercise-cycle {
    border-color: var(--color-exercise-progress) var(--color-exercise-progress) var(--color-exercise-progress) var(--color-exercise-progress);
}

.meditation-cycle {
    border-color: var(--color-meditation-progress) var(--color-meditation-progress) var(--color-meditation-progress) var(--color-meditation-progress);
}

.progress {
    position: absolute;
    
    padding: 1rem;
    inset: 1.5rem;
    margin-left: -1.5rem;

    font-size: 1.75rem;

    transform: rotate(316deg);
}